.sendForm {
display: flex;
    justify-content: space-between;
}

.textarea {

}

.button {
display: inline-flex;
    justify-content: center;
    align-items: center;

    background: #06c;
    border-radius: 20px;
    width: 120px;
    height: 40px;
color: #fff;


}

.button:hover {

}
.button:active {

}
